body {
    background-color: #060a17;
}

.button-style {
    text-align: middle;
    margin-top: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 80px;
    padding-right: 80px;
    background-color:  #ece8e1;
    border-radius: 30px 30px 30px 30px;
    color: #020236;
    font-family: 'Luckiest Guy';
    font-size: 18px;
}

.btn-group {
    margin-top: 10px;
}

.text-style{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: normal;
    color: #FFF;
    font-size: 21px;

}

.title-style{
    font-weight: bolder;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-bottom: 0px;
    padding-bottom: 0px;
    padding-top: 100px;
    padding-left: 550px;
    font-weight: bolder;
    color: #f6c226;
    font-size: 30px;

}

.container-buttons-style {
    width: 500px;
    height: 400px;
    background-color: transparent;
    margin: auto;
    text-align: center;
      
}
.container-style-about {
    margin-right: 0;
    margin-left: 0px;
    margin-top: 80px;
    border-width: 2px;
    border-color: black;
    border-style: solid;
    width: 450px;
    height: 300px;
    background-color: rgb(103, 100, 100);
    border-radius: 30px 30px 30px 30px;
    text-align: center;
    float: left;
    display: inline-block;
    margin-left: 20px;
      
}

.aux{
    float: left;
    display: inline-block;
}

.container-tutorial-content{
    margin-left: 50px;
    width: 1350px;
    height: 1000px;
}

.size-image{
    margin-top: 30px;
    padding-left: 550px;
    width: 400px;
    height: 250px;
}


.icon-style{
    margin-top: 20px;
    width: 60px;
    height: 60px;
}