{% extends 'chess/base.html' %}
{% load static %}

{% block title %}
<title>About</title>
{% endblock %}

{% block body %}
<img class="size-image" src="images/title.png" alt="Chess title">
<div class="aux">
    <div class="container-style-about">
        <img class="icon-style" src="images/goal.png" alt="developer icon">
        <h1 class="text-style">Foi desenvolvido para a disciplina de Engenharia de Software II ministrada pelo professor Leonardo Murta, na Universidade Federal Fluminense, no semestre de 22.1.</h1>
    </div>
    <div class="container-style-about">
        <img  class="icon-style" src="images/dev.png" alt="developer icon">
        <h1 class="text-style">Desenvolvedores: Gabriela Pinheiro Costa, Karina Pereira de Lemos, Tiago Maia de Lacerda Brasil, Thiago Lopes Nascimento e Valesca Moura de Sousa.</h1>
    </div>  
    <div class="container-style-about">
        <img class="icon-style" src="images/version.png" alt="developer icon">
        <h1 class="text-style">Versão: 1.0.0</h1>
    </div> 
</div> 
{% endblock %}
