{% extends 'chess/base.html' %}
{% load static %}

{% block title %}
<title>Chess</title>
{% endblock %}

{% block scripts %}
<script src="{% static 'js/script.js' %}"></script>
{% endblock %}

{% block links %}
<link rel="stylesheet" type="text/css" href="{% static 'css/chess.css' %}">
{% endblock %}

{% block body %}
<div class="board"> 
    <div id="a8">&#9820</div>
    <div id="b8">&#9822</div>
    <div id="c8">&#9821</div>	
    <div id="d8">&#9819</div>
    <div id="e8">&#9818</div>	
    <div id="f8">&#9821</div>
    <div id="g8">&#9822</div>	
    <div id="h8">&#9820</div>
    
    <div id="a7">&#9823</div>
    <div id="b7">&#9823</div>
    <div id="c7">&#9823</div>
    <div id="d7">&#9823</div>
    <div id="e7">&#9823</div>
    <div id="f7">&#9823</div>
    <div id="g7">&#9823</div>
    <div id="h7">&#9823</div>
    
    <div id="a6"></div>	
    <div id="b6"></div>
    <div id="c6"></div>	
    <div id="d6"></div>
    <div id="e6"></div>	
    <div id="f6"></div>
    <div id="g6"></div>	
    <div id="h6"></div>
    
    <div id="a5"></div>	
    <div id="b5"></div>
    <div id="c5"></div>	
    <div id="d5"></div>
    <div id="e5"></div>	
    <div id="f5"></div>
    <div id="g5"></div>	
    <div id="h5"></div>
    
    <div id="a4"></div>	
    <div id="b4"></div>
    <div id="c4"></div>	
    <div id="d4"></div>
    <div id="e4"></div>	
    <div id="f4"></div>
    <div id="g4"></div>	
    <div id="h4"></div>
    
    <div id="a3"></div>	
    <div id="b3"></div>
    <div id="c3"></div>	
    <div id="d3"></div>
    <div id="e3"></div>	
    <div id="f3"></div>
    <div id="g3"></div>	
    <div id="h3"></div>
    
    <div id="a2">&#9817</div>
    <div id="b2">&#9817</div>
    <div id="c2">&#9817</div>
    <div id="d2">&#9817</div>
    <div id="e2">&#9817</div>
    <div id="f2">&#9817</div>
    <div id="g2">&#9817</div>
    <div id="h2">&#9817</div>
    
    <div id="a1">&#9814</div>
    <div id="b1">&#9816</div>
    <div id="c1">&#9815</div>
    <div id="d1">&#9813</div>
    <div id="e1">&#9812</div>
    <div id="f1">&#9815</div>
    <div id="g1">&#9816</div>
    <div id="h1">&#9814</div>
</div>
{% endblock %}