{% extends 'chess/base.html' %}
{% load static %}

{% block title %}
<title>Você perdeu!</title>
{% endblock %}

{% block scripts %}
<script src="{% static 'js/menu.js' %}"></script>
{% endblock %}

{% block body %}
<img class="size-image" src="{% static 'images/defeat.png' %}" alt="Loser message">

<div class="container-buttons-style">
    <div class="btn-group">
        <a href="{% url 'chess:levels' %}"><button class="button-style"><h2>Jogar Novamente</h2></button></a>
        <a href="{% url 'chess:index' %}"><button class="button-style"><h2>Voltar ao Menu</h2></button></a>
    </div>    
</div>
{% endblock %}