{% extends 'chess/base.html' %}
{% load static %}

{% block title %}
<title>Menu Chess Game</title>
{% endblock %}

{% block scripts %}
<script src="{% static 'js/controller.js' %}"></script>
{% endblock %}

{% block body %}
<div class="container-style">
    <div class="btn-group">
        <!-- TO DO: Verificar onclick com chamadas das funções do arquivo JS -->
        <button onclick="callPlay()" class="button-style"><h2>PLAY</h2></button><br>
        <button onclick="callTutorial()" class="button-style"><h2>ABOUT</h2></button><br>
        <button onclick="callAbout()" class="button-style"><h2>TUTORIAL</h2></button>
    </div>    
</div>
{% endblock %}