{% extends 'chess/base.html' %}
{% load static %}

{% block title %}
<title>Menu do jogo</title>
{% endblock %}

{% block scripts %}
<script src="{% static 'js/jquery-3.6.0.min.js' %}"></script>
<script src="{% static 'js/controller.js' %}"></script>
{% endblock %}

{% block body %}
<img class="size-image" src="{% static 'images/title.png' %}" alt="Chess title">
<div class="container-buttons-style">
    <div class="btn-group">
        <a href="{% url 'chess:levels' %}"><button class="button-style"><h2>Jogar</h2></button></a>
        <a href="{% url 'chess:tutorial' %}"><button class="button-style"><h2>Regras</h2></button></a>
        <a href="{% url 'chess:about' %}"><button class="button-style"><h2>Sobre</h2></button></a>
        <a href="{% url 'chess:ia_fight' %}"><button class="button-style"><h2>Briga de IA's</h2></button></a>
    </div>    
</div>
{% endblock %}